@tailwind base;
@tailwind components;
@tailwind utilities;

//sick
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";


body{
    font-family: 'Roboto', sans-serif;
}

.container{
    @apply mx-auto;
}

header.menu{
    @apply px-6 lg:px-10 bg-white flex justify-between items-center relative z-[99];
    background-image: url("/assets/images/navbar-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    .close-icon{
        @apply px-2 mr-6 flex-shrink-0;
    }

    .menu-item{
        @apply block pt-3 pb-2 lg:pt-5 lg:pb-4 text-black hover:text-primary border-b-4 border-transparent hover:border-primary font-medium uppercase tracking-wide transition duration-300 ease-out;

        &.active{
            @apply text-primary border-b-4 border-primary;
        }
    }

    .menu-list{
        @apply pb-3 lg:pb-0 hidden lg:flex justify-between flex-col lg:flex-row w-full space-y-3 md:space-y-4 lg:space-y-0;
    }

    .hamburger-menu{
        span{
            @apply h-1 w-8 block my-2 bg-primary smooth-transition;
        }
        &.active {
            span:nth-child(2) {
                @apply opacity-0
            }

            span:first-child {
                transform: rotate(-43deg) scaleX(1.25) translateY(-2px);
                transform-origin: top right;
            }

            span:last-child {
                transform: rotate(43deg) scaleX(1.25) translateY(2px);
                transform-origin: bottom right;
            }
        }
    }
}

.button-shadow{
    box-shadow: 0 1px 10px rgb(0 0 0 / 70%) !important;
}
.smooth-transition{
    transition: 0.4s all ease-in-out;
}

.primary-button{
    @apply flex items-center px-2 py-2 bg-primary text-white text-sm xl:text-base uppercase tracking-wide shadow;

    &:hover{
        @apply rounded-lg;
    }
}


//hero slider css
.slider-section{
    @apply bg-black
     relative;
}

.hero-slider{
    @apply w-[400px] md:w-[600px] lg:w-[800px] xl:w-[1000px] xl:ml-0 static;

    .slick-list{
        @apply w-[400px] md:w-[600px] lg:w-[800px] xl:w-[1000px] ml-auto mr-0 overflow-visible;
    }
    .slick-slide{
        @apply w-[50px] sm:w-[100px] md:w-[200px] lg:w-[300px] xl:w-[400px];
        transition: 0.4s all ease-in-out;
        border-left: 1px solid hsl(0deg 0% 100% / 50%);
    }

    .hero-slide{
        @apply overflow-hidden;
        &:before{
            content: "";
            @apply w-full h-full bg-black bg-opacity-80 absolute left-0 top-0 z-10 transition duration-300 ease-out;
        }
    }
    .slick-slide.slick-current{
        @apply w-[300px] sm:w-[400px] md:w-[600px] lg:w-[800px] xl:w-[1000px];

        .hero-slide:before{
            @apply opacity-0;
        }
    }

    img.banner-img{
        @apply h-[350px] md:h-[450px] lg:h-[600px] object-cover object-center;
    }
    .logo-img{
        @apply max-w-[250px];
    }

    .slick-prev, .slick-next{
        @apply w-12 h-12 z-[99];
        &:before{
            @apply hidden;
        }
    }
    .slick-next{
        right: 25px;
    }
    .slick-prev{
        left: 25px;
    }

    & *{
        line-height: 0;
    }
}


.slider-shadow{
    box-shadow: 0 12px 35px rgb(0 0 0 / 50%);
}


.features-title{
    @apply px-4 lg:px-6 xl:px-10 inline-block bg-white relative z-10 text-2xl lg:text-3xl xl:text-4xl tracking-wide lg:tracking-[.25em] text-center uppercase;
}


.search-from{
    @apply mb-8 lg:mb-0 w-full max-w-[280px] xl:max-w-[320px] flex items-center flex-shrink-0 lg:order-2;

    .search-input{
        @apply w-full h-12 px-4 py-2.5 flex-grow text-sm lg:text-base text-[#7f7e7e] border border-[#7f7e7e] border-r-0 focus:border-primary ring-0 focus:ring-2 focus:ring-primary focus:ring-opacity-20 outline-none focus:outline-none;
    }
}

.features-line{
    @apply h-[2px] w-full bg-black block absolute top-1/2 left-0 transform -translate-y-1/2;
}

.features-section{
    @apply py-10 lg:py-14 flex flex-wrap items-center justify-center lg:justify-between;

    & > ul{
        @apply flex flex-wrap items-center justify-center lg:justify-start justify-center xl:flex-grow space-x-2 lg:order-1;
    }
}

.logo-slider{
    @apply mb-10 md:mb-16 flex items-center justify-between overflow-auto;
}

//card css
.car-card{
    @apply w-full min-h-[250px] h-[250px] md:h-[280px] relative overflow-hidden;

    &:before{
        content: "";
        @apply w-full h-full absolute bottom-0 left-0 z-[1];
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.67) 67%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    }

    img{
        @apply h-full w-full object-cover object-center transition duration-300 ease-out transform;
    }
    .card-body{
        @apply px-4 md:px-6 pb-4 md:pb-6 w-full z-10 text-sm lg:text-base text-white text-center tracking-wide absolute bottom-0 left-0 z-20 leading-relaxed;

        h4{
            @apply mb-4 text-xl uppercase;
        }
    }
    &:hover{
        img{
            @apply transform scale-110;
        }
    }

    &.card-full-height{
        @apply h-[300px] lg:h-full;
    }
}
//card css


//wheels slider
.wheels-slider{
    @apply text-center;

    .wheel-img-box{
        @apply h-[150px] md:h-[160px] lg:h-[200px];
    }
    img{
        @apply md:w-full max-w-full max-h-full md:max-w-[190px] mx-auto;
    }
    p{
        @apply mt-2 text-sm md:text-base text-black capitalize text-gray-800 tracking-wide;
    }
}

@media screen and (min-width: 1024px){
    .breadcrumb{
        li:not(:first-child){
            a{
                @apply relative text-primary;

                &:before{
                    content: "";
                    height: 12px;
                    width: 12px;
                    border-left: 6px solid #b80100;
                    border-top: 6px solid transparent;
                    border-bottom: 6px solid transparent;
                    left: -15px;
                    display: block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    .hero-slider {
        .slick-slide {
            transform: skew(-25deg) scale(1.1);
        }

        img.banner-img {
            transform: skew(25deg) scale(1.5);
        }

        .logo-img {
            transform: skew(25deg);
        }
    }
}


@media screen and (max-width: 1023px){
    .menu-list {
        @apply bg-white absolute top-full z-[999];
        box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
    }
}
